div.card {
    /* width: 300px; */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 5px;
  }

  div.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
  }
  
  div.container {
    padding: 10px;
  }
  div img{
      width:100%;
  }

  .newsGrid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 2px 10pxp;
      justify-items: center;
  }