.blogMain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.blog{
    padding: 15px;
    box-shadow: 0 0 10px black;
    margin: 10px;    
}

.blog h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

}

h1{
    margin-bottom: 30px;
}