.nerdSide {
    background-color: purple;
}
.geekSide{
    background-color: blue;
}

section{
    width: 400px;
    padding: 10px;

}

.fullBody{
    /* height: 500px; */
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.fullBody button{
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  /* margin: auto; */
}

.ngHeader{
  width: 100%;
  background-color: rgb(94, 150, 255);
  text-align: center;
}

.ngHeader button{
  width:200px;
  height: 70px;
  background-color: rgb(29, 29, 29);
  color: white;
  font-size: 19px;
}
.gridNG{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0;
  padding: 0; 
  /* padding: 20px; */
  
}
.base{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  /* justify-items: center; */
}
.quizChoices{
  /* display: grid;
  grid-template-columns: repeat(2,1fr); */
  justify-items: center;
  text-align: center;
}
.quizChoices img{
  /* width: 250px; */
  width: 75%;
  padding: 20px;
}

.quizChoices button{
  width: 70%;
  height: 60px;
  font-weight: 600;
  font-family: 'Barlow', sans-serif;
  font-size:20px;
}

.Nerd{
  background-color:rgb(226, 71, 218);
  padding: 20px;
}
.Geek{
  padding: 20px;
  background-color:rgb(47, 243, 96);
}
.mainNG{
margin:0;
padding: 0;

}
.main{
  padding: 20px;
  width: 100%;
  margin: 0px;
}
h1 {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 60px;
  text-align: center;
}

/* .aboveLink {
    line-height: normal;
    font-family: Varela Round, sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 13px;
    color: #A7AAAE;
    position: absolute;
    left: 20px;
    bottom: 20px;
    border: 1px solid #A7AAAE;
    padding: 12px 20px 10px;
    border-radius: 50px;
    transition: all .1s ease-in-out;
    text-transform: uppercase;
  } */
.aboveLink {
    line-height: normal;
    font-family: Varela Round, sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    color: rgb(7, 7, 7);
    position: absolute;
    left: 30%;
    top: 30%;
    background-color: rgb(245, 241, 0);
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    padding: 50px 80px;
    border-radius: 50px;
    transition: all .1s ease-in-out;
    text-transform: uppercase;
    
  }
.leftSide li{
  text-align: left;
  list-style-type: none;
  text-transform: uppercase;
}
.easterEgg{
  display: grid;
  background-color: black;
  justify-items: center;
  text-align: center;
}
.filled{
  width: 75vw;
  /* height: 900px; */
  margin:0;
  padding:0;
}
.vimeo{
  padding:56.25% 0 0 0;
  position:relative;
}

.vimeoIframe{
  position:absolute;
  top:0;left:0;width:100%;height:100%;
}

  /* .circle{
    width: 90%;
  } */


  
  a.iprodev:hover {
    background: #A7AAAE;
    color: white;
  }