.imageGallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.imageGallery img {
    width: 100%;
    overflow: hidden;
    height: 400px;

}

img{
    width: 75%;
}

.redBackground{
    background-color: #ed1925;
}

.displayed{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}