.imageGallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.imageGallery img {
    width: 100%;
    overflow: hidden;
    height: 400px;

}

.largeButton{
    width: 300px;
    height: 100px;
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

section h2{
    width: 60px;
    color: white;
}

section p{
    color: white;
    font-size: 25px;
}
img{
    width: 75%;
}

.redBackground{
    background-color: #ed1925;
}

.displayed{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.seiVideos{
    display: grid;
    grid-template-columns: repeat(2,1fr)
}